src/test/docker/logs
src/test/docker/neo4j/data
src/test/docker/logs/*.log*
src/test/docker/solr-cloud/data/zoo_data
src/test/docker/data/zoo_data
output/
corpora/

# Compiled class file
*.class
.idea
*.iml
target/
# Log file
*.log
src/test/docker/solr/collections/data
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
